<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="stylesheet" type="text/css" href="../style/about.css">
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
</head>
<body>
	<div class="container">
		<!-- logo to home -->
		<a href="../index.html">Home</a>
		<a href="about.html" class="inner">About</a>
		<div class="dropdown">
			<a href="hair.html">Hair</a>
			<div class="dropdownLinks inner">
			    <a href="#">Information</a><br>
			    <a href="#">Products</a><br>
			    <a href="#">Procedures</a>
			</div>
		 </div>
		<div class="dropdown">
			<a href="skin.html">Skin</a>
			<div class="dropdownLinks inner">
			    <a href="#">Information</a><br>
			    <a href="#">Products</a><br>
			    <a href="#">Procedures</a>
			</div>
		 </div>
		<a href="" class="inner">Contact</a>
	</div>
	<div class="pic">
		picture
	</div>
	<div class="bio">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis mauris vitae tincidunt mollis. Vivamus ornare ipsum sit amet metus imperdiet, maximus pharetra mi ornare. Suspendisse nec consequat lectus. Duis vitae molestie ligula. Fusce a eros felis. Integer laoreet est urna, in lobortis arcu luctus eu. Vivamus ex dolor, convallis eu lacinia in, porta sit amet est. Nam lobortis ut arcu sed suscipit. Sed ut erat id neque tristique lobortis ac ac velit. Cras quis faucibus diam. Suspendisse ullamcorper dictum arcu, vel vulputate leo efficitur quis.
	</div>

</body>
</html>