<!DOCTYPE html>
<html>
<head>
	<title>Hair</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="stylesheet" type="text/css" href="../style/hair.css">
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
</head>
<body>
	<div class="container">
		<!-- logo to home -->
		<a href="../index.html">Home</a>
		<a href="about.html" class="inner">About</a>
		<a href="hair.html" class="inner"> Hair</a>
		<a href="skin.html" class="inner">Skin</a>
		<a href="" class="inner">Contact</a>
	</div>
	<div class="flex">
		<div class="menu">
			<div class="menuOptions">
				<a href="#info">Information</a>
				<a href="#products">Products</a>
				<a href="#procedures">Procedures</a>
			</div>
		</div>
		<div class="content">
			<h1 id="info">Why do we loose hair?</h1>
			<div class="flex">
				<p class="section">
					Hair loss, known as Alopecia, is a common condition. It does not hurt, it is not life-threatening, but it is a source of emotional distress and can have profound effects on the quality of life of those who suffer  this condition. Millions of men and women in the US are affected by hair loss and/or hair thinning to some degree and statistics show those numbers are increasing. In our society, hair is intimately related to beauty and youth, but hair also plays an important role in the protection of the scalp from UV rays, as well as extreme cold or hot temperatures. Furthermore, scientists are studying the role of hair as a sense organ and how the brain gather information from our hair.
				</p>
				<p class="hairFol">
					<img src="../images/hairFol.png">
				</p>
				
			</div>
			<p class="section"> 
				Hair loss is caused by a wide range of factors which are still not fully understood. One of the major aspects that has been linked to hair loss is heredity, the genes passed from our parents. Stress, our lifestyle habits - including diet and exercise -, environmental factors, our immune system, hormonal imbalances, and disease are other elements that have a major influence on the loss of hair. Science and research in this field show that there are many complex factors combined in the development of hair thinning and hair loss. This important concept must be taken in consideration when we approach the treatment that should address each one of this aspects.
			</p>
			
			<h3>Hair Growth Cycle</h3>
			<p>
				Hair follicles are in different and non synchronized stages of growth, regression, or rest at all times.
				<iframe width="560" height="315" src="https://www.youtube.com/embed/Gxgy9k_SdZs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</p>
			<h3>Types of Alopecia</h3>
			<p>
				The most common type of hair loss are the Male Pattern Hair Loss (MPHL) and Female Pattern Hair Loss (FPHL). These conditions are hereditary and genetically transmitted from our parents.
			</p>
			<figure class="mphl">
				<img src="../images/baldness_scale.jpg">
				<figcaption>Norwood Classification</figcaption>
			</figure>
			<figure class="fphl">
				<img src="../images/hair_loss_women.jpg">
				<figcaption>Ludwig Classification</figcaption>
			</figure>
			
				<b>Prescription Drugs Associated with Hair Loss</b>: taking certain medications may cause hair loss. Click <a class="underline" href="prescription_drugs.html">here</a> to read the list of prescription drugs associated with hair loss.
			</p>
			<p class="italic appointment">
				Make an appointment for a consultation with Dr. Veber, which includes a complete medical history, scalp and hair exam, laboratory tests if needed to understand the cause of your hair loss, and a non invasive multi prong treatment plan centered not only in the control and recovery of the hair you lost, but also in the improvement of the strength and thickness of the hair you have
			</p>
		</div>
	</div>
	
	
</body>
</html>