<!DOCTYPE html>
<html>
<head>
	<title>Prescription Drugs Associated With Hair Loss</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="stylesheet" type="text/css" href="../style/pres_drugs.css">
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/pres_drugs.js"></script>
</head>
<body>
	<div class="container">
		<!-- logo to home -->
		<a href="about.html" class="inner">About</a>
		<div class="dropdown">
			<a href="hair.html">Hair</a>
			<div class="dropdownLinks inner">
			    <a href="#">Information</a><br>
			    <a href="#">Products</a><br>
			    <a href="#">Procedures</a>
			</div>
		 </div>
		<a href="" class="inner">Skin</a>
		<a href="" class="inner">Contact</a>
	</div>
	<h1>Prescription Drugs Associated With Hair Loss</h1>
	<div class="column">
		<h3>Antidepressant and Antipsychotic Prescription Drugs</h3>
		<ul>
			<li>Amoxapine</li>
			<li>Amitriptyline</li>
			<li>Bupropion</li>
			<li>Clomipramine</li>
			<li>Desipramine</li>
			<li>Doxepin</li>
			<li>Fluoxetine</li>
			<li>Haloperidol</li>
			<li>Imipramine</li>
			<li>Nortriptyline</li>
			<li>Paroxetine</li>
			<li>Sertraline</li>
		</ul>
		<h3>Blood Thinning Medications</h3>
		<ul>
			<li>Panwarfin (warfarin sodium)</li>
			<li>Sofarin (warfarin sodium)</li>
			<li>Coumadin (warfarin sodium)</li>
			<li>Heparin injections</li>
		</ul>
		<h3>Parkinson's Disease</h3>
		<ul>
			<li>Levadopa I L-dopa (Doper, Larodopa)</li>
		</ul>
		<h3>Thyroid Disorder Prescription Medications</h3>
		<ul>
			<li>Thiouracil</li>
			<li>Levothyroxine(Synthroid)</li>
		</ul>
		<h3>Ulcer Medications (Over-the-Counter and Prescription)</h3>
		<ul>
			<li>Famotidine(PepcidTM)</li>
			<li>Ranitidine(ZantacTM)</li>
			<li>Cimetidine(TagametdTM)</li>
		</ul>
		<h3>Gout Medications</h3>
		<ul>
			<li>Lopurin(Allopurinol)</li>
			<li>Zyloprim(Allopurinol)</li>
		</ul>
		<h3>Antibiotics and Antifungal drugs</h3>
		<ul>
			<li>Levo Floaxin</li>
			<li>Amoxicillin</li>
			<li>Penicillin(Amoxicot, Kelfex)</li>
		</ul>
		<h3>Depression - Antidepression Prescription Medications</h3>
		<ul>
			<li>Prozac (fluoxetine hydrochloride)</li>
			<li>Zoloft (sertraline hydrochloride)</li>
			<li>Paxil (paroxetine)</li>
			<li>Anafranil (clomipramine)</li>
			<li>Janimine (imipramine)</li>
			<li>Tofranil (imipramine)</li>
			<li>Tofranil PM (imipramine)</li>
			<li>Adapin (doxepin)</li>
			<li>Sinequan (doxepin)</li>
			<li>Surmontil (trimipramine)</li>
			<li>Pamelor (nortriptyline)</li>
			<li>Ventyl (nortriptyline)</li>
			<li>Elavin (amitriptyline)</li>
			<li>Endep (amitriptyline)</li>
			<li>Norpramin (desipramine)</li>
			<li>Pertofrane (desipramine)</li>
			<li>Vivactil (protriptyline hydrochloride)</li>
			<li>Asendin (amoxapine)</li>
			<li>Haldol (haloperidol)</li>
		</ul>
		<h3>Acne Medications</h3>
			<ul>
				<li>Isotretinoin (Sotret®, Claravis®, Amnesteem®, Accutane)</li>
				<li>Tretinoin (various - Retin A®)</li>
				<li>Tazarotene (Tazorac®)</li>
				<li>Acitretin (Soriatane®)</li>
				<li>Adapalene (Differin®)</li>
			</ul>
		<h3>Glaucoma</h3>
		<ul>
			<li>Timoptic Eye Drops (Timolol)</li>
			<li>Timoptic Ocudose (Timolol)</li>
			<li>Timoptic XC (Timolol)</li>
			<li>Heart (High Blood Pressure)</li>
			<li>Tenormin (Atenolol)</li>
			<li>Lopressor (Metoprolol)</li>
			<li>Corgard (Nadolol)</li>
			<li>lnderal - Inderal LA (Propanolol)</li>
			<li>Blocadren (Timolol)</li>
		</ul>
		<h3>Cholesterol Medications</h3>
		<ul>
			<li>Atronid-S (Clofibrate)</li>
			<li>Metoprolol (Toprol XL)</li>
			<li>Atenol (Tenoretic)</li>
			<li>Lopid (Gemfibrozil)</li>
		</ul>
		<h3>Convulsions/Epilepsy - Anticonvusant Prescription Medications</h3>
		<ul>
			<li>Tridone (Trimethadione)</li>
			<li>Carbamazepine</li>
			<li>Phenytoin</li>
			<li>Sodium Vaiproate</li>
		</ul>
		<h3>Diet / Attention Deficit Disorders</h3>
		<ul>
			<li>Amphetamines</li>
			<li>Methamphetamines</li>
			<li>Methyiphenidate</li>
		</ul>
		<h3>Chemotherapy Medications</h3>
		<ul>
			<li>Adriamycin</li>
			<li>Bleomycin</li>
			<li>Cactinomycin</li>
			<li>Cyclophosphamide</li>
			<li>Cytarabine</li>
			<li>Dactinomycin</li>
			<li>Daunorubicin</li>
			<li>Docetaxel</li>
			<li>Doxorubicin</li>
			<li>Etoposide</li>
			<li>Fluorouracil</li>
			<li>Ifosfamide</li>
			<li>Irinotecan</li>
			<li>Methotrexate</li>
			<li>Paclitaxel</li>
			<li>Topttecan</li>
			<li>Vinorelbine</li>
		</ul>
		<h3>Medications for Hormonal Conditions</h3>
		<p>
			All hormone-containing prescriptions prescribed for hormone-related, sexual dysfunction, reproductive, male and female-specific conditions have the potential to cause hair loss, including:
		</p>
		<ul>
			<li>Birth Control Medications</li>
			<li>Hormone-replacement therapy (HRT) for women (estrogen or progesterone)</li>
			<li>Male androgenic hormones and all forms of testosterone (i.e. Testex, Depo-Testosterone, and Delatestryl)</li>
			<li>
				Anabolic steriods:
				<ul>
					<li>Fluoxymesterone (Halotestin)</li>
					<li>Methyltestosterone (Android, Metandren, Oreton, Testred, Virilon)</li>
					<li>Stanozolol (Winstrol)</li>
					<li>Danazol (Danocrine)</li>
				</ul>
			</li>
			<li>Prednisone and other steroids</li>
		</ul>
		<h3>Non-Inflammatory Prescriptions</h3>
		<ul>
			<li>Naprosyn (Naproxen)</li>
			<li>Anaprox (Naproxen)</li>
			<li>Anaprox DS (Naproxen)</li>
			<li>Celecoxib (Celebrex)</li>
			<li>Daypro (Oxaprozin)</li>
			<li>Diclofenac (Voltaren)</li>
			<li>Etodolac (Lodine)</li>
			<li>Fenoprofen (Nalfon)</li>
			<li>Indocin (indomethacin)</li>
			<li>Indocin SR (indomethacin)</li>
			<li>Ketoprofen (Orudis, Oruvail)</li>
			<li>Relafen (Nabumetone)</li>
			<li>Clinoril (Sulindac)</li>
			<li>Methotrexate (MIX)</li>
			<li>Rheumatex (Methotrexate)</li>
			<li>Folex (Methotrexate)</li>
		</ul>	
	</div>
	<button class="back">
		Back
	</button>
</body>
</html>