<!DOCTYPE html>
<html>
<head>
	<title>Skin</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="stylesheet" type="text/css" href="../style/skin.css">
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
</head>
<body>
	<div class="container">
		<!-- logo to home -->
		<a href="../index.html">Home</a>
		<a href="about.html" class="inner">About</a>
		<a href="hair.html" class="inner"> Hair</a>
		<a href="skin.html" class="inner">Skin</a>
		<a href="" class="inner">Contact</a>
	</div>
	<div class="flex">
		<div class="menu">
			<div class="menuOptions">
				<a href="#info">Information</a>
				<a href="#products">Products</a>
				<a href="#procedures">Procedures</a>
			</div>
		</div>
		<div class="content">

			<!--Info-->

			<h1 class="title">The Aging Skin</h1>
			<h3 class="italic title">It is not a cosmetic issue, <br>it is a health matter.</h3>
			<p>
				As we age, the structure and function of our skin deteriorate.
			</p>
			<p>
				<b>Intrinsic Aging</b>, or chronological aging, is a genetically controlled natural process. <br>
				<b>Extrinsic Aging</b>, on the other hand, is directly related to environmental and lifestyle factors: climate, pollution, stress, diet, exercise, smoking and more. These factors are largely controllable.
			</p>
			<figure class="skin-aging">
				<img src="../images/skin_aging.jpg">
				<figcaption>Skin Aging Diagram</figcaption>
			</figure>
			<p>
				The leading cause of extrinsic aging is sun exposure or ultraviolet radiation (UVR), often referred to as photo- aging which accounts for 90% of visible skin aging. Photo-aging clinical signs include dry skin, rough texture, loss of elasticity and increase laxity of the skin, irregular pigmentation, wrinkles and vascular lesions. 
			</p>
			<p>
				UV Radiation is the part of the electromagnetic (light) spectrum that reaches the earth from the sun.  There are three classifications of UV light: UVA, UVB, and UVC.
			</p>
			<p>
				<b>UVC rays</b> are absorbed by the ozone layer and do not reach the earth, however UVA and UVB rays penetrate the atmosphere and play an important role in premature aging, uneven pigmentation and skin cancers.  
			</p>
			<p>
				<b>UVB rays</b> penetrate the epidermis - the outer layer of the skin -  and activate a cascade of biochemical reactions. These rays are more intense in summer, between 10am and 2pm, they cause sunburn and direct DNA damage. With constant and prolonged exposure to UVB rays, precancerous lesions or a skin cancer may develop. 
			</p>
			<p>
				<b>UVA rays</b> penetrate deeper into the dermis and are the major factor in the development of skin aging and wrinkles. UVA  rays cause indirect DNA damage and immune suppression, contributing to the development of skin cancer, along with UVB. Prolonged exposure to these rays affect collagen and elastin fibers and causes fine lines, wrinkles and loss of elasticity.   
			</p>
			<p>
				It is important to know that UVA is present in equal intensity all year, from the morning to the evening, even on cloudy, rainy and snowy days and passes through ordinary glass indicating that being indoors does not protect you from UV damage. </p>
			<h3>
				Prevention of skin damage from the sun should be the most important aspect of your daily skin care plan.
			</h3>
			<p>
				The American Academy of Dermatology recommends to apply a generous amount (about one ounce for an adult) of a water resistant, broad spectrum sunscreen that protects from both UVA and UVB, with an SPF 30 or higher.  preferably containing Zinc oxide/titanium dioxide. All exposed skin must be covered with the product and should be applied  15 minutes before sun exposure and reapplied every 2 hours, when outdoors, or after swimming or sweating. Other sun safe practices are limiting sun exposure, seeking shade, wearing sun protection clothing, hat and sunglasses.
			</p>
			<img class="sun-protec" src="../images/sun_protec.png">



			<!--Procedures-->

			<div class="line"></div>
			<h1>Procedures</h1>
			<h3>Microneedling</h3>
			<div class="collage">
				<div class="micro">
					<img class="micro one " src="../images/microneedling1.jpg">
					<img class="micro two" src="../images/microneedling2.jpg">
					<img class="micro three" src="../images/microneedling3.jpg">
				</div>
				<img id="pic" class="micro four" src="../images/microneedling_brochure.jpg">
			</div>
			
			


 


		</div>
	</div>




